.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.processing-section, .history-section {
  background: var(--card-background);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: var(--shadow);
}

.processing-section h3, .history-section h2 {
    margin-top: 0;
    text-align: left;
    color: #1a233a;
}